# Node
node_modules/
/dist/
/.angular/
/.parcel-cache/
/.cache/

# backups
.dups_backup_*

# IDE
/.vscode/
/.idea/

# logs
*.log
npm-debug.log*

# env
.env
.env.*

# local config
local.properties
*.local

# build
build/
coverage/

# temporary
*.tmp
*.swp
*~
